# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# IDE
.idea/
.vscode/
